 

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

 

 

/* Sections */
.question {
  padding: 1rem;
  background: #f0f0f0;
}

.live-preview {
  background: #fff;
  border-left: 1px solid #ccc;
  padding: 1rem;
}

 

 
 
